@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('../assets/fonts/helvetica-neu.ttf') format('ttf');
}


@font-face {
  font-family: "La Belle Aurore";
  src: url('../assets/fonts/LaBelleAurore.woff2') format('woff2');
}


@font-face {
  font-family: "Coolvetica";
  src: url('../assets/fonts/CoolveticaRg-Regular.woff2') format('woff2');
}

input, textarea { 
  font-family: "Helvetica Neue";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
